<div class="container">
  <p id="notice"><%= notice %></p>

  <hr>

  <div class="content-wrapper">
    <div class="content-main margin-left">
      <div class="content-blogs">
        <% @blogs.sort.reverse.each do |blog| %>
          <div class="content-blog">
            <div class="blog-top-image">
              <% if blog.images[0] %>
                <%= link_to blog do %>
                  <%= image_tag blog.images[0].image_url.url, class: 'image-size' %>
                <% end %>
              <% end %>
            </div>
            <div class="blog-bottom">
              <div class="created-at">
                <i class="far fa-clock"></i>
                <%= blog.created_at.strftime('%Y-%m-%d') %>
              </div>
              <div class="blog-title">
                <%= blog.title %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="content-side">
      <div class="content-sidebar">
        <%= link_to '新規投稿', new_blog_path, class: 'btn btn-block btn-success btn-sm' %>
        <div class="tag-list">
          <h3>タグリスト</h3>
          <% @tag_list.each do |list| %>
            <%= link_to list.tag_name, tag_blogs_path(tag_id: list.id) %>
            <%= "(#{list.blogs.count})" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
