<div class="container">
  <p id="notice"><%= notice %></p>

  <hr>

  <div class="content-wrapper">
    <div class="content-main margin-left">
      <div class="content-blogs">
        <% @blogs.sort.reverse.each do |blog| %>
          <div class="content-blog">
            <div class="blog-top-image">
              <%= link_to blog do %>
                <%= image_tag blog.avatar, class: 'image-size' %>
              <% end %>
            </div>
            <div class="blog-bottom">
              <div class="created-at">
                <i class="far fa-clock"></i>
                <%= blog.created_at.strftime('%Y-%m-%d') %>
              </div>
              <div class="blog-title">
                <%= blog.title %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="content-side">
      <div class="content-sidebar">
        <% if logged_in? %>
          <% if current_user.admin?%>
            <div class="new-post">
              <%= link_to '新規投稿', new_blog_path, class: 'btn btn-block btn-success btn-sm' %>
            </div>
          <% end %>
        <% end %>
        <div class="profile">
          <div class="profile-image">
            <%= image_tag "profile" %>
          </div>
          <div class="profile-text-blog">
            <h5>たつろう</h5>
          </div>
          <div class="profile-occupation">
            <p>コーチ / エンジニア</p>
          </div>
          <hr class="profile-hr">
          <div class="profile-content">
            <p>
              大学時代にFPに従事、その後大手建設ゼネコンを経てプログラミングとコーチングに出会う。現在は、プログラミングのメンター/ビジネスオーナーのコーチとして活動。<br>
              Udemyで多数教材を作成し来年春に向けて執筆中。<br>
              <br>
              「イキイキした世の中にする」ことをビジョンに掲げ、「目の前の人のキッカケ」になることに生きがいを感じる。<br>
              <br>
              "Nothing ventured, nothing gained"<br>
              "迷ったらやる"
            </p>
          </div>
        </div>
        <div class="tag-list">
          <% @tag_list.each do |list| %>
            <%= link_to list.tag_name, tag_blogs_path(tag_id: list.id) %>
            <%= "(#{list.blogs.count})" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
