<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>自己発掘プログラム</title>
  <meta name="description" content="self-awarenessを高めることが自分の人生を手にする鍵になる＜自己発掘プログラム＞">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'common' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'myself_lp' %>
  <%= stylesheet_link_tag 'scaffolds' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>


</head>

<body>
  <!-- ここにコンテンツが入ります -->
  <div class="wrap">
    <main>
      <!-- KV -->
      <div class="kv-wrapper" id="menu-top">
        <div class="kv-text text-center">
          <div class="kv-img-wrapper">
            <img src="./images/selfimages/kv.jpg" alt="画像の表示に失敗しました">
            <div class="kv-copy-wrapper">
              <h2 class="kv-copy-main">自己発掘プログラム</h2>
              <div class="kv-copy-bottom">
                <h3>self-awarenessがあなたの武器になる</h3>
              </div>
            </div>
          </div>
        </div>
      </div>




      <!-- message -->
      <div class="message-wrapper">
        <div class="message-inner">
          <ul class="message-list flex-rc">
            <li class="message-item">
              <h2 class="message-top text-center">こんなモヤモヤありませんか？</h2>
              <div class="message-img-wrapper">
                <img src="./images/selfimages/1417006.png" alt="画像の表示に失敗しました">
              </div>
              <ul class="messages">
                <li class="message">●いまの自分に満足できない</li>
                <li class="message">●自分の価値観や得意なことがわからない</li>
                <li class="message">●何かを変えたいとモヤモヤする</li>
              </ul>
            </li>
            <li class="message-item">
              <h2 class="message-top text-center">自己発掘プログラムで解決します！</h2>
              <div class="message-img-wrapper">
                <img src="./images/selfimages/1416957.png" alt="画像の表示に失敗しました">
              </div>
              <ul class="messages">
                <li class="message">●「自分できるじゃん」と自信がつく</li>
                <li class="message">●これまでのモヤモヤは気にしない！</li>
                <li class="message">●自分で生きる人生が楽しい</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>




      <!-- about -->
      <div class="about-wrapper">
        <div class="about-inner">
          <ul class="about-list">
            <li class="about-item">
              <h2 class="about-top text-center">『自己発掘プログラム』とは</h2>
              <ul class="abouts">
                <li class="about">■自分だけの価値観の認識、コントロール</li>
                <li class="about">■気づいていなかった自分の発見、自分の人生のアップデート</li>
                <li class="about">■自己認識(self-awareness)から武器を活かすアクション</li>
              </ul>
              <h3 class="about-bottom">これらを通じ、過去の自分から現在の自分と未来の自分をアップデートし続ける術を身につけ自分軸で生きる人生を掴みます。</h3>
            </li>
            <li class="about-item">
              <h2 class="about-top text-center">自己認識(self-awareness)とは</h2>
              <ul class="abouts">
                <li class="about">■自分の感情を正しく把握する</li>
                <li class="about">■ほとんどの人が思考・感情・判断・行動を無意識に行い、自己認識ができていない</li>
                <li class="about">■リフレクション（内省）にも通じ、自己を振り返ることに必要になる</li>
              </ul>
              <h3 class="about-bottom">自己認識ができることは自分のマインドセットを変えることに繋がり、自分自身をリーダーとして引張っていくために必要不可欠です。</h3>
            </li>
          </ul>
        </div>
      </div>





      <!-- recommend -->
      <div class="recommend-wrapper">
        <div class="recommend-inner">
          <h2 class="recommend-top">こんな方におすすめ</h2>
          <ul class="recommend-list flex-rc">
            <li class="recommend-item">
              <h3 class="recommend-text">
                今の自分を変えたくて、情報のインプットや自己投資をしてきたかが結果が出ずに挫折してしまいそうな人。だけど諦めずに人生を自分の手で前に進めていきたい意志があるあなた。
              </h3>
              <div class="recommend-img-wrapper">
                <img src="./images/selfimages/IMG_8877.jpg" alt="画像の表示に失敗しました">
              </div>
            </li>
            <li class="recommend-item">
              <h3 class="recommend-text">
                いつも周りと比べて自分が苦しくなるあなた。いつも自分の責任にして優しさに溢れている。だれど自分で受け止め切れずに自分を大切にできず苦しくなる。
              </h3>
              <div class="recommend-img-wrapper">
                <img src="./images/selfimages/IMG_8879.jpg" alt="画像の表示に失敗しました">
              </div>
            </li>
            <li class="recommend-item">
              <h3 class="recommend-text">
                チャレンジすることはできても目先の利益を追い求め。いつも続かずに心移りしてしまう。このことに満足できず、自信が持てない。
              </h3>
              <div class="recommend-img-wrapper">
                <img src="./images/selfimages/IMG_8878.jpg" alt="画像の表示に失敗しました">
              </div>
            </li>
          </ul>
        </div>
      </div>



      <!-- service -->
      <div class="service-wrapper">
        <div class="service-inner">
          <h2 class="service-top text-center">サービス内容</h2>
          <ul class="service-list">
            <li class="service-item flex-rc">
              <div class="service-img-wrapper">
                <img src="./images/selfimages/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="画像の表示に失敗しました">
              </div>
              <div class="service-text">
                <h3 class="service-title">
                  事前ヒアリング
                </h3>
                <h4 class="service">自己発掘プログラム前にアンケートに回答いただきます。それを元に目的を共通認識にし、コーチングを実施します。</h4>
              </div>
            </li>
            <li class="service-item flex-rc">
              <div class="service-img-wrapper">
                <img src="./images/selfimages/jukan-tateisi-bJhT_8nbUA0-unsplash.jpg" alt="画像の表示に失敗しました">
              </div>
              <div class="service-text">
                <h3 class="service-title">
                  過去の価値観・体験をテーマにしたセッション
                </h3>
                <h4 class="service">これまでの人生で培った経験や価値観を可視化します。自分の過去を見つめ直すことで大切にしてきた価値観を言語化します。この貴重な過去の体験を未来に繋げていきます。</h4>
              </div>
            </li>
            <li class="service-item flex-rc">
              <div class="service-img-wrapper">
                <img src="./images/selfimages/bethany-legg-75nbwHfDsnY-unsplash.jpg" alt="画像の表示に失敗しました">
              </div>
              <div class="service-text">
                <h3 class="service-title">
                  未来の姿をテーマにしたセッション
                </h3>
                <h4 class="service">自分が大切にしている価値観や才能から実現したい未来の姿を明確にします。自分で決めることで自信になり、今まで考えもしなかった未来に気づくことができます。</h4>
              </div>
            </li>
            <li class="service-item flex-rc">
              <div class="service-img-wrapper">
                <img src="./images/selfimages/s-migaj-Yui5vfKHuzs-unsplash.jpg" alt="画像の表示に失敗しました">
              </div>
              <div class="service-text">
                <h3 class="service-title">
                  死をテーマにしたセッション
                </h3>
                <h4 class="service">一時間「死の世界」に誘います。死を意識することでこれまで明確にしてきた、過去の経験やあなたの才能をどの様に生かしていくか？だれの、どんなことのために残りの時間を使って行くのか？を感じていきます。</h4>
              </div>
            </li>
            <li class="service-item flex-rc">
              <div class="service-img-wrapper">
                <img src="./images/selfimages/diego-ph-SZYreZsJ-fE-unsplash.jpg" alt="画像の表示に失敗しました">
              </div>
              <div class="service-text">
                <h3 class="service-title">
                  自分だけのMVV（Mission, Vision, Value）を見つける
                </h3>
                <h4 class="service">これまでのセッションを元に自分だけのMVVを見つけます。MVVが生きている上で大切にしていることであなたが生きている意味です。MVVが自分を突き動かす、指針や原動力になります。自ら決めて、自ら進み、達成する自分を実現しましょう。</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>





      <!-- voices -->
      <div class="voices-wrapper">
        <div class="voices-inner">
          <h2 class="voices-top text-center">お客様の声</h2>
          <ul class="voices-list flex-rc slider">
            <li class="voices-item">
              <h3 class="voices">
                過去を振り返った先に理想、ビジョンについて積極的に考える習慣をみにつけることができた。
                また、ビジョン実現の行動ができるようになって、実際の日々の行動として、意識付けのような事ができるようになり生活変わった。
              </h3>
              <h4 class="voices-person">20代 男性</h4>
            </li>
            <li class="voices-item">
              <h3 class="voices">
                受講後は間違いなく行動が変わった。バランスホイールの話を元にそれぞれの理想を言語化出来て、それに対する行動アイデアを導きだすことができた。今の自分は今後も継続して自分でビジョンの整理、それに対する行動の逆算が立てれるようになっています。
              </h3>
              <h4 class="voices-person">20代 男性</h4>
            </li>
          </ul>
        </div>
      </div>




      <!-- service-details -->
      <div class="service-details-wrapper">
        <div class="service-details-inner">
          <h2 class="service-details-top text-center">サービス詳細</h2>
          <ul class="service-details-list flex-rc">
            <li class="service-details-item">
              <h3 class="service-details">
                セッション時間 ： 60分（最大90分） × 5回 計 5時間〜
              </h3>
            </li>
            <li class="service-details-item">
              <h3 class="service-details">
                セッション頻度 ： 一週間に一回を推奨
              </h3>
            </li>
            <li class="service-details-item">
              <h3 class="service-details">
                料金 ： 60,000（税抜）
              </h3>
            </li>
          </ul>
        </div>
      </div>




      <!-- procedure -->
      <div class="procedure-wrapper">
        <div class="procedure-inner">
          <h2 class="procedure-top text-center" id="procedure">お申し込み手順</h2>
          <div class="procedure-contents flex-rc">
            <ul class="procedure-list">
              <li class="procedure-item">
                <h3 class="procedure">
                  STEP1. たつろう公式LINEアカウントの追加
                </h3>
              </li>
              <li class="procedure-item">
                <h3 class="procedure">
                  STEP2.「自己発掘プログラム希望」と送信
                </h3>
              </li>
              <li class="procedure-item">
                <h3 class="procedure">
                  STEP3. 事前アンケート回答
                </h3>
              </li>
              <li class="procedure-item">
                <h3 class="procedure">
                  STEP4. セッション開始
                </h3>
              </li>
            </ul>
            <ul class="procedure-list_right">
              <li class="procedure-item_1">
                <p class="step">STEP1</p>
                <h3 class="procedure_1">
                  <a class="line" href="https://line.me/R/ti/p/%40652ivsas" target="_blank" rel="noopener noreferrer">LINEで友達になる</a>
                </h3>
              </li>
              <li class="procedure-item_2">
                <p class="step">STEP2</p>
                <div class="procedure-img-wrapper">
                  <img src="./images/selfimages/line.jpg" alt="画像の表示に失敗しました">
                  <h3 class="procedure_2">
                    「自己発掘プログラム希望」と送信
                  </h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>
