<%= stylesheet_link_tag 'rich_text', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="card my-5">
    <div class="card-image mt-3 text-center">
      <% @blog.images.each do |image| %>
        <%= image_tag image.image_url.url, class: 'top-image-size' %>
      <% end %>
      <%= image_tag @blog.avatar %>
    </div>
    <div class="card-body">
      <div class="card-title">
        <h1>
          <%= @blog.title %>
        </h1>
        <div class="text-right">
          更新日<%= @blog.updated_at.strftime("%Y-%m-%d") %>
        </div>
      </div>
      <div class="card-text">
        <%= @blog.content %>
      </div>
      <div class="blog-tags">
        <%= "タグ：" %>
        <% @blog_tags.each do |tag| %>
          <%= link_to tag.tag_name, tag_blogs_path(tag_id: tag.id) %>
          <%= "(#{tag.blogs.count})" %>
        <% end %>
      </div>
    </div>
   </div>

  <% if current_user.admin?%>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
    <%= link_to 'Back', blogs_path %> |
    <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% if @blog.comments.present? %>
    <h3>コメント</h3>
    <% @blog.comments.each do |comment| %>
      <p>
        <%= comment.commenter %>: <%= comment %>
        <% unless guest_user%>
          <%= link_to '削除', [comment.blog, comment],
                    :confirm => 'よろしいですか？',
                    :method => :delete %>
        <% end %>
      </p>
    <% end %>
  <% end %>

  <% unless guest_user%>
    <h3>コメントを書く</h3>
    <%= form_for([@blog, @blog.comments.build]) do |f| %>
      <div class="field mb-2">
        <%= f.text_field :commenter, placeholder: 'お名前', class: 'form-control' %>
      </div>
      <div class="field mb-2">
        <%= f.text_area :body, placeholder: '本文を入力してください',class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "投稿する", class: 'btn btn-block btn-success btn-sm' %>
      </div>
    <% end %>
  <% end %>
</div>
