<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-width">
    <a class="navbar-brand" href="/">Tatsuro Blogs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/blogs">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile soon...</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SNS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.udemy.com/course/start_coaching/?referralCode=51631628A8655253B0AC" target="_blank" rel="noopener">０からのコーチング</a>
            <a class="dropdown-item" href="https://www.udemy.com/course/leader_corching/?referralCode=31CFB5BF68A6DA4436FA" target="_blank" rel="noopener">人が動くコーチング</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://note.com/rorrou/n/n41cf4aea0b8c" target="_blank" rel="noopener">『一年で人生は好転する』note</a>
            <a class="dropdown-item" href="https://twitter.com/tatsurolife" target="_blank" rel="noopener">Twitter</a>
            <a class="dropdown-item" href="https://line.me/R/ti/p/%40652ivsas" target="_blank" rel="noopener">LINEお友達になる</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Coaching soon...</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', '/logout', class: 'btn my-2 my-sm-0' %>
        <% else %>
          <%= link_to 'サインイン', '/users/sign_in', class: 'btn my-2 my-sm-0' %>
        <% end %>
      </div>
    </div>
  </nav>

    <%= yield %>

  <footer class="container-fluid mt-4 text-center small d-none d-sm-block bg-light">
    <div class="container p-2">
      © 2021 ブログサイト
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
